header{
    display: flex;
    background-color: #333;
    justify-content: space-between;
    padding: 30px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    
}
.logo img{
    width: 100px;
    height: 100%;
}